<section class="order">
    <h3 class="section__title" id="order-title">Orden de compra - Detalles del pago</h3>
    
    <table class="order__table" aria-label="Resumen de la orden de compra">
        <tr>
            <td><span class="order__subtitle">Subtotal</span></td>
            <td colspan="2"><span class="table__price">${{ticket.subtotal}}</span></td>
        </tr>
        <tr>
            <td><span class="order__subtitle">Envío</span></td>
            <td colspan="2"><span class="table__price">{{ticket.shipping}}</span></td>
        </tr>
        <tr>
            <td><span class="order__subtitle">Total a pagar</span></td>
            <td colspan="2"><span class="order__grand-total">${{ticket.amount}}</span></td>
        </tr>
    </table>

    <button class="btn btn--md" style="margin-top: 20px;" id="payment" aria-label="Seleccionar método de pago">
        Métodos de pago seguros
    </button>
</section>

<script src="https://checkout.epayco.co/checkout.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const paymentButton = document.getElementById("payment");

        paymentButton.addEventListener("click", async () => {
            const response = await fetch('/epayco');
            const data = await response.json();
            const handler = ePayco.checkout.configure({
                key: data.publicKey,
                test: data.mode,
            });

            handler.open({
                name: "Pet Shop",
                description: "Pago de orden",
                invoice: "{{ticket.code}}",
                currency: "cop",
                amount: "{{ticket.amount}}",
                tax_base: "0",
                tax: "0",
                country: "co",
                lang: "es",
                response: "http://localhost:8080/respuesta-epayco",
                external: false,
                autoclick: false,
                email_billing: "{{ticket.purchaser.email}}",
            });
        });
    });
</script>