<h3 class="section__title">Datos para el envío de los productos</h3>
<form action="" class="form grid">
    <input type="text" value="{{ticket.purchaser.name}}" class="form__input" readonly>
    <input type="text" value="{{ticket.purchaser.last_name}}" class="form__input" readonly>
    <input type="text" value="{{ticket.purchaser.address}}" class="form__input">
    <input type="text" value="{{ticket.purchaser.city}}" class="form__input">
    <input type="text" value="{{ticket.purchaser.phone}}" class="form__input">
    <input type="email" value="{{ticket.purchaser.email}}" class="form__input" readonly>
</form>