<h3 class="section__title">Productos de la orden</h3>
<table class="order__table">
    <tr>
        <th colspan="2">Productos</th>
        <th>Total</th>
    </tr>
    {{#each ticket.cart.products}}
    <tr>
        <td>
            <img src="{{this.product.image}}" alt="{{this.product.title}}" class="order__img">
        </td>
        <td>
            <h3 class="table__title">{{this.product.title}}</h3>
            <p class="table__quantity">Cantidad: x{{this.quantity}}</p>
        </td>
        <td><span class="table__price">${{this.product.price}}</span></td>
    </tr>
    {{/each}}
    <tr>
        <td><span class="order__subtitle">Subtotal</span></td>
        <td colspan="2"><span class="table__price">${{ticket.subtotal}}</span></td>
    </tr>
    <tr>
        <td><span class="order__subtitle">Envio</span></td>
        <td colspan="2"><span class="table__price">{{ticket.shipping}}</span></td>
    </tr>
    <tr>
        <td><span class="order__subtitle">Total</span></td>
        <td colspan="2"><span class="order__grand-total">${{ticket.amount}}</span></td>
    </tr>
</table>
<button class="btn btn--md" style="margin-top: 20px;" id="payment">Realizar pedido</button>

<script src="https://checkout.epayco.co/checkout.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const paymentButton = document.getElementById("payment");

        paymentButton.addEventListener("click", async () => {
            const response = await fetch('/get-public-key');
            const data = await response.json();
            const handler = ePayco.checkout.configure({
                key: data.publicKey,
                test: true,
            });

            handler.open({
                name: "Mi Tienda",
                description: "Pago de orden",
                invoice: "{{ticket.code}}",
                currency: "cop",
                amount: "{{ticket.amount}}",
                tax_base: "0",
                tax: "0",
                country: "co",
                lang: "es",
                response: "https://tusitio.com/respuesta-epayco",
                external: false,
                autoclick: false,
            });
        });
    });
</script>