<div id="modal-create-adoption" class="modal__create-adoption">
    <div class="modal__create-adoption-content">
        <span class="close-create-adoption">&times;</span>
        <div class="container pet__wrapper">
            <form enctype="multipart/form-data" class="form grid" id="form">
                <div class="pet grid">
                    <div class="form-group flex-gap">
                        <figure class="image-preview">
                            <img src="{{pet.photo}}" class="pet__img" alt="{{pet.name}}" />
                        </figure>
                        <h3 class="pet__name">{{pet.name}} <span>({{pet.age}})</span></h3>
                    </div>
                    <p class="pet__description">{{pet.description}}</p>
                    <p class="pet__text">Raza: <span>{{pet.breed}}</span></p>
                    <h3 class="owner__title">Dueño de la mascota</h3>
                    <p class="pet__text">Nombre: <span>{{pet.owner.name}} {{pet.owner.last_name}}</span></p>
                    <p class="pet__text">Email: <span>{{pet.owner.email}}</span></p>
                    <p class="pet__text">Telefono: <span>{{pet.owner.phone}}</span></p>
                </div>

                <div class="adopter grid">
                    <h2>Datos del adoptante</h2>
                    <input type="text" id="adopter-name" name="adopter_name" placeholder="Nombre del adoptante"
                        class="form__input">
                    <input type="text" id="adopter-lastname" name="adopter_lastname"
                        placeholder="Apellido del adoptante" class="form__input">
                    <input type="text" id="adopter-id" name="adopter_ID" placeholder="Identificación del adoptante"
                        class="form__input">
                    <input type="email" id="adopter-email" name="adopter_email" placeholder="Email del adoptante"
                        class="form__input">
                    <input type="text" id="adopter-phone" name="adopter_phone" placeholder="Telefono del adoptante"
                        class="form__input pass">
                    <input type="text" id="adopter-city" name="adopter_city" placeholder="Ciudad del adoptante"
                        class="form__input pass">
                    <input type="text" id="address" name="adopter_address" placeholder="Dirección del adoptante"
                        class="form__input pass">
                    <div class="form-group flex">
                        <figure class="image-preview">
                            <img src="https://vineview.com/wp-content/uploads/2017/07/avatar-no-photo-300x300.png"
                                class="preview" alt="Foto de usuario"
                                style="width: 100px; height: 100px; border-radius: 50%" id="previewImage" />
                        </figure>

                        <div class="file-upload">
                            <input type="file" name="image" id="customFile" class="file-input img__adopter" />
                            <label for="customFile" class="file-label btn btn--sm">
                                Subir foto
                            </label>
                        </div>
                    </div>

                    <div id="family-members-container">
                <button type="submit" class="btn btn--sm" id="add-family-member">
                    Añadir miembros de la familia
                </button>
            </div>
                </div>
            </form>
            <div class="button__wrapper">
                <button type="submit" class="btn">Realizar solicitud de adopción</button>
            </div>
            
        </div>
    </div>
</div>
