<link rel="stylesheet" href="/css/home.css">

<div class="products__container grid">
    {{#each productos}}
    <div class="product__item">
        <div class="product__banner">
            <a href="/tienda/{{_id}}" class="product__images">
                <img src="{{image}}" alt="{{title}}" class="product__img default">
                <img src="{{image}}" alt="{{title}}" class="product__img hover">
            </a>

            <div class="product__actions">
                <a href="/tienda/{{_id}}" class="action__btn" aria-label="Detalle del producto">
                    <i class="fi fi-rr-eye"></i>
                </a>
                <a href="#" class="action__btn" aria-label="Añadir a lista de deseos">
                    <i class="fi fi-rr-heart"></i>
                </a>
                <a href="#" class="action__btn" aria-label="Compartir">
                    <i class="fi fi-rr-shuffle"></i>
                </a>
            </div>

            <div class="product__badge light-pink">
                {{type_product}}
            </div>
        </div>

        <div class="product__content">
            <span class="product__category">{{category}}</span>
            <a href="/tienda/{{_id}}">
                <h3 class="product__title">{{title}}</h3>
            </a>
            <div class="product__rating">
                <i class="fi fi-rr-star"></i>
                <i class="fi fi-rr-star"></i>
                <i class="fi fi-rr-star"></i>
                <i class="fi fi-rr-star"></i>
                <i class="fi fi-rr-star"></i>
            </div>
            <div class="product__price flex">
                <span class="new__price">$ {{price}}</span>
            </div>

            <form class="add-to-cart-form" data-product-id="{{id}}">
                <button type="submit" class="action__btn cart__btn" aria-label="Añadir al carrito">
                    <i class="fi fi-rr-shopping-cart"></i>
                </button>
            </form>
        </div>
    </div>
    {{/each}}
</div>

<script src="/js/store.js"></script>