<section class="products section container">
    <div class="tab__btns">
        <span class="tab__btn active-tab" data-target="#destacados">Destacados</span>
        <div class="tab__btn" data-target="#seller">Mas vendidos</div>
        <div class="tab__btn" data-target="#nuevo">Nuevos arrivos</div>
    </div>

    <div class="tab__items">
        <div class="tab__item active-tab" content id="destacados">
            <div class="products__container grid">
                {{#each featured}}
                <div class="product__item">
                    <div class="product__banner">
                        <a href="/tienda/{{_id}}" class="product__images">
                            <img src="{{image}}" alt="{{title}}" class="product__img default">

                            <img src="{{image}}" alt="{{title}}" class="product__img hover">
                        </a>

                        <div class="product__actions">
                            <a href="/tienda/{{_id}}" class="action__btn" aria-label="Detalle del producto">
                                <i class="fi fi-rr-eye"></i>
                            </a>
                            <a href="#" class="action__btn" aria-label="Añadir a lista de deseos">
                                <i class="fi fi-rr-heart"></i>
                            </a>
                            <a href="#" class="action__btn" aria-label="Compartir">
                                <i class="fi fi-rr-shuffle"></i>
                            </a>
                        </div>

                        <div class="product__badge light-pink">
                            {{type_product}}
                        </div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">{{category}}</span>
                        <a href="#">
                            <h3 class="product__title">{{title}}</h3>
                        </a>
                        <div class="product__rating">
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                        </div>
                        <div class="product__price flex">
                            <span class="new__price">${{price}}</span>
                            <span class="old__price">$245.82</span>
                        </div>
                        <a href="#" class="action__btn cart__btn" aria-label="Añadir al carrito">
                            <i class="fi fi-rr-shopping-cart"></i>
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="tab__item" content id="seller">
            <div class="products__container grid">
                {{#each seller}}
                <div class="product__item">
                    <div class="product__banner">
                        <a href="/tienda/{{_id}}" class="product__images">
                            <img src="{{image}}" alt="{{title}}" class="product__img default">

                            <img src="{{image}}" alt="{{title}}" class="product__img hover">
                        </a>

                        <div class="product__actions">
                            <a href="/tienda/{{_id}}" class="action__btn" aria-label="Detalle del producto">
                                <i class="fi fi-rr-eye"></i>
                            </a>
                            <a href="#" class="action__btn" aria-label="Añadir a lista de deseos">
                                <i class="fi fi-rr-heart"></i>
                            </a>
                            <a href="#" class="action__btn" aria-label="Compartir">
                                <i class="fi fi-rr-shuffle"></i>
                            </a>
                        </div>

                        <div class="product__badge light-pink">
                            {{type_product}}
                        </div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">{{category}}</span>
                        <a href="#">
                            <h3 class="product__title">{{title}}</h3>
                        </a>
                        <div class="product__rating">
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                        </div>
                        <div class="product__price flex">
                            <span class="new__price">${{price}}</span>
                            <span class="old__price">$245.82</span>
                        </div>
                        <a href="#" class="action__btn cart__btn" aria-label="Añadir al carrito">
                            <i class="fi fi-rr-shopping-cart"></i>
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="tab__item" content id="nuevo">
            <div class="products__container grid">
                {{#each newArrive}}
                <div class="product__item">
                    <div class="product__banner">
                        <a href="/tienda/{{_id}}" class="product__images">
                            <img src="{{image}}" alt="{{title}}" class="product__img default">

                            <img src="{{image}}" alt="{{title}}" class="product__img hover">
                        </a>

                        <div class="product__actions">
                            <a href="/tienda/{{_id}}" class="action__btn" aria-label="Detalle del producto">
                                <i class="fi fi-rr-eye"></i>
                            </a>
                            <a href="#" class="action__btn" aria-label="Añadir a lista de deseos">
                                <i class="fi fi-rr-heart"></i>
                            </a>
                            <a href="#" class="action__btn" aria-label="Compartir">
                                <i class="fi fi-rr-shuffle"></i>
                            </a>
                        </div>

                        <div class="product__badge light-pink">
                            {{type_product}}
                        </div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">{{category}}</span>
                        <a href="#">
                            <h3 class="product__title">{{title}}</h3>
                        </a>
                        <div class="product__rating">
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                        </div>
                        <div class="product__price flex">
                            <span class="new__price">${{price}}</span>
                            <span class="old__price">$245.82</span>
                        </div>
                        <a href="#" class="action__btn cart__btn" aria-label="Añadir al carrito">
                            <i class="fi fi-rr-shopping-cart"></i>
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>

<script src="/js/productTabs.js"></script>