<section class="details section--lg">
    <div class="details__container container grid">
        <div class="details__group">
            <img src="{{product.image}}" alt="{{product.title}}" class="details__img">
            {{#if product.thumbnail}}
            <div class="details__small-images grid">
                {{#each product.thumbnail}}
                <img src="{{this.url}}" alt="{{product.title}}" class="details__small-img">
                {{/each}}
            </div>
            {{/if}}
        </div>

        <div class="details__group">
            <h3 class="details__title">{{product.title}}</h3>
            <p class="details__brand">Marca: <span>{{product.brand}}</span></p>

            <div class="details__price flex">
                <span class="new__price">${{product.price}}</span>
                <span class="old__price">$200.00</span>
                <span class="save__price">$25% off</span>
            </div>

            <p class="short__description">
                {{product.description}}
            </p>

            <ul class="product__list">
                <li class="list__item flex">
                    <i class="fi fi-rr-crown">1 año de garantia</i>
                </li>
                <li class="list__item flex">
                    <i class="fi fi-rr-refresh">Política de devolución de 30 días</i>
                </li>
                <li class="list__item flex">
                    <i class="fi fi-rr-credit-card">Pago contra reembolso disponible</i>
                </li>
            </ul>

            <div class="details__actions">
                <input type="number" class="quantity" value="3">
                <a href="#" class="btn btn--sm">Añadir al carrito</a>
                <a href="#" class="details__action-btn">
                    <i class="fi fi-rr-heart"></i>
                </a>
            </div>

            <ul class="details__meta">
                <li class="meta__list flex"><span>Codigo del producto:</span> {{product.code}}</li>
                <li class="meta__list flex"><span>Tags</span> Ropa, Gato, moda</li>
                <li class="meta__list flex"><span>Disponibilidad</span> {{product.stock}} unidades en stock</li>
            </ul>
        </div>
    </div>
</section>

<script src="/js/galleryImgs.js"></script>