<link rel="stylesheet" href="/css/productAdmin.css">
<link rel="stylesheet" href="/css/login.css">

<div class="tab__content" id="products">
    <h3 class="tab__header title__tab">
        Productos
        <a href="#" class="btn btn--sm" id="create-product">Crear producto</a>
    </h3>

    <div id="modal-create-prod" class="modal__create-prod">
        <div class="modal__create-prod-content">
            <span class="close-create-prod">&times;</span>
            <div class="register">
                <form action="/api/v1/products/create" method="POST" enctype="multipart/form-data" class="form grid"
                    id="form">
                    <input type="text" placeholder="Nombre del producto" id="title" name="title" class="form__input">
                    <input type="number" placeholder="Precio del producto" id="price" name="price" class="form__input">
                    <input type="text" placeholder="Descripción" id="description" name="description"
                        class="form__input">
                    <input type="text" placeholder="Marca del producto" id="brand" name="brand"
                        class="form__input pass">
                    <input type="number" placeholder="Unidades disponibles" id="stock" name="stock" class="form__input">
                    <div class="form flex-between">
                        <label class="label">
                            Categoria:
                            <select name="category" class="select-field">
                                <option value="alimento">Alimento</option>
                                <option value="juguetes">Juguetes</option>
                                <option value="accesorios">Accesorios</option>
                                <option value="higiene">Higiene</option>
                                <option value="seguridad">Seguridad</option>
                                <option value="transporte">Transporte</option>
                                <option value="salud">Salud</option>
                                <option value="tecnologia">Tecnología</option>
                            </select>
                        </label>
                        <label class="label">
                            Tipo:
                            <select name="type_product" class="select-field">
                                <option value="null">Seleccionar</option>
                                <option value="destacado">Destacado</option>
                                <option value="mas vendido">Mas vendido</option>
                                <option value="nuevo arribo">Nuevo arribo</option>
                            </select>
                        </label>
                    </div>

                    <div class="form-group flex-gap">
                        <figure class="image-preview">
                            <img src="https://vineview.com/wp-content/uploads/2017/07/avatar-no-photo-300x300.png"
                                class="preview" alt="Foto de usuario" />
                        </figure>

                        <div class="file-upload">
                            <input type="file" name="image" id="customFile" class="file-input" />
                            <label for="customFile" class="file-label btn btn--sm">
                                Subir foto
                            </label>
                        </div>
                    </div>

                    <div id="thumbnail-container" class="form-group flex-gap">
                        <button type="button" id="add-thumbnail" class="btn btn--sm">Agregar Fotos</button>
                    </div>

                    <div class="form__btn">
                        <button class="btn btn--sm">Crear producto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="tab__body">
        <table class="placed__order-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Descripción</th>
                    <th>Marca</th>
                    <th>Tipo del producto</th>
                    <th>Categoria</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>{{title}}</td>
                    <td>$ {{price}}</td>
                    <td>{{description}}</td>
                    <td>{{brand}}</td>
                    <td>{{type_product}}</td>
                    <td>{{category}}</td>
                    <td>
                        <a href="#" class="view__order view__btn" data-id="{{_id}}">Ver</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <div id="modal-products" class="modal-products">
            <div class="modal-content-products">
                <span class="close-products">&times;</span>

                {{#each products}}
                <div class="product" id="product-{{_id}}">
                    <div class="product__modal-wrapper section">
                        <div class="details__group">
                            <img src="{{image}}" alt="{{title}}" class="image-prod" />

                            {{#if thumbnail}}
                            <div class="details__small-images grid">
                                {{#each thumbnail}}
                                <img src="{{this.url}}" alt="{{../name}}" class="details__small-img" />
                                {{/each}}
                            </div>
                            {{/if}}
                        </div>

                        <div class="details__group dt">
                            <h3 class="details__title">{{title}}</h3>
                            <p class="details__brand">Marca: <span>{{brand}}</span></p>

                            <div class="details__price flex">
                                <span class="new__price">${{price}}</span>
                            </div>

                            <p class="short__description">{{description}}</p>
                        </div>
                    </div>

                    <div class="buttons-container">
                        <button class="feature__btn"><i class="fi fi-rr-star"></i> Destacar</button>
                        <button class="new__arrive"><i class="fi fi-rr-shopping-cart-add"></i> Nuevo Arribo</button>
                        <button class="best__seller"><i class="fi fi-rr-usd-circle"></i> Más vendido</button>
                        <button class="user__btn"><i class="fi fi-rr-badge-percent"></i> Ofertar</button>
                        <button class="delete__btn del"><i class="fi fi-rr-trash"></i> Eliminar</button>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="/js/profileAdminModalCreateProd.js"></script>
<script src="/js/profileAdminModalProducts.js"></script>