<link rel="stylesheet" href="/css/login.css">

<div class="tab__content" content id="users">
    <h3 class="tab__header title__tab">Usuarios <a href="" class="btn" id="create-user">Crear Usuario</a></h3>

    <div id="modal-create-user" class="modal__create-user">
        <div class="modal__create-content">
            <span class="close-create-user">&times;</span>
            <div class="register">
                <form action="/api/v1/users/create" method="POST" class="form grid" id="register-form">
                    <input type="text" placeholder="Ingresa el nombre" id="name" name="name" class="form__input">
                    <input type="text" placeholder="Ingresa el apellido" id="last_name" name="last_name"
                        class="form__input">
                    <input type="email" placeholder="Ingresa el Email" id="email" name="email"
                        class="form__input email">
                    <input type="password" placeholder="Ingresa la Contraseña" id="password" name="password"
                        class="form__input pass">
                    <input type="number" placeholder="Ingresa la edad" id="age" name="age" class="form__input">
                    <div class="form flex-between">
                        <label class="label">
                            Rol:
                            <select name="role" class="select-field">
                                <option value="usuario">Usuario</option>
                                <option value="admin">Administrador</option>
                            </select>
                        </label>
                        <label class="label">
                            Género:
                            <select name="gender" class="select-field">
                                <option value="">Seleccionar</option>
                                <option value="masculino">Masculino</option>
                                <option value="femenino">Femenino</option>
                            </select>
                        </label>
                    </div>
                    <div class="label select-city">
                        <select class="select-field" name="city" id="city">
                            <option value="" disabled selected>Selecciona tu ciudad</option>
                            <option value="bogota">Bogotá</option>
                            <option value="medellin">Medellín</option>
                            <option value="cali">Cali</option>
                            <option value="barranquilla">Barranquilla</option>
                            <option value="cartagena">Cartagena</option>
                            <option value="manizales">Manizales</option>
                            <option value="pereira">Pereira</option>
                            <option value="bucaramanga">Bucaramanga</option>
                            <option value="santa-marta">Santa Marta</option>
                            <option value="villavicencio">Villavicencio</option>
                            <option value="ibague">Ibagué</option>
                            <option value="neiva">Neiva</option>
                            <option value="popayan">Popayán</option>
                            <option value="sincelejo">Sincelejo</option>
                            <option value="riohacha">Riohacha</option>
                            <option value="valledupar">Valledupar</option>
                            <option value="monteria">Montería</option>
                        </select>
                    </div>
                    <input type="text" placeholder="Ingresa el teléfono" id="phone" name="phone" class="form__input">
                    <input type="text" placeholder="Ingresa la dirección" id="address" name="address"
                        class="form__input">

                    <div class="form__btn">
                        <button class="btn">Crear usuario</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="tab__body">
        <table class="placed__order-table">
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Edad</th>
                <th>Rol</th>
                <th>Genero</th>
                <th>Telefono</th>
                <th>Dirección</th>
                <th>Ciudad</th>
                <th>Acciones</th>
            </tr>
            {{#each users}}
            <tr>
                <td>{{name}} {{last_name}}</td>
                <td>{{email}}</td>
                <td>{{age}}</td>
                <td>{{role}}</td>
                <td>{{gender}}</td>
                <td>{{phone}}</td>
                <td>{{address}}</td>
                <td>{{city}}</td>
                <td>
                    <a href="#" class="view__order view__button" data-id="{{_id}}">Ver</a>
                </td>
            </tr>
            {{/each}}
        </table>

        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h3>Selecciona una opción:</h3>
                <div class="buttons-container">
                    <button class="admin__btn"><i class="fi fi-rr-shuffle"></i> Rol Admin</button>
                    <button class="user__btn"><i class="fi fi-rr-shuffle"></i> Rol usuario</button>
                    <button class="delete__btn"><i class="fi fi-rr-trash"></i> Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/profileAdminModalCreateUser.js"></script>
<script src="/js/profileAdminModalUser.js"></script>