<div class="table__container">
    <table class="table">
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Detalle del producto</th>
            <th>Quitar</th>
        </tr>
        {{#each wish.products}}
        <tr>
            <td>
                <a href="/tienda/{{this.product._id}}"><img src="{{this.product.image}}" alt="{{this.product.title}}"
                        class="table__img"></a>
            </td>
            <td>
                <h3 class="table__title">{{this.product.title}}</h3>
                <p class="table__description">{{this.product.description}}</p>
            </td>
            <td>
                <span class="table__price">${{this.product.price}}</span>
            </td>
            <td>
                <a href="/tienda/{{this.product._id}}" class="detail__link">Ver producto</a>
            </td>
            <td>
                <button class="btn btn--sm btn--delete" data-product-id="{{this.product._id}}">
                    <i class="fi fi-rr-trash"></i>
                </button>
            </td>
        </tr>
        {{/each}}
    </table>
</div>

<div class="cart__actions">
    <a href="#" class="btn flex btn--md btn--empty-wish">
        <i class="fi fi-rr-trash"></i> Vaciar la lista de deseos
    </a>

    <a href="/tienda" class="btn flex btn--md">
        <i class="fi fi-rr-basket-shopping-simple"></i> Ver mas productos
    </a>
</div>